
//Fonts 
$kanit: 'Kanit', sans-serif;
$robo : 'Roboto', sans-serif;

//Colours
$white: #ffffff;
$primary: #1BD6FF;

//Gradients
$box-gradient: radial-gradient(169.33% 169.33% at -8.09% -32.56%, rgba(255, 220, 220, 0) 24.88%, rgba(3, 23, 46, 0.356) 87.1%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, rgba(25, 178, 226, 0.77);

$btn-gradient: linear-gradient(285.12deg, rgba(101, 25, 160, 0.486) 16.13%, rgba(27, 200, 255, 0.6) 85.33%), #1BD6FF;


//Box shadows
$box-shadow: 3px 5px 15px 3px rgba(0, 0, 0, 0.5);