.forecast-week {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: 90%;
    max-width: 28em;
    border-radius: 1em;
    box-shadow: $box-shadow;
    color: $white;
    font-family: $robo;
    background-color: rgba(200, 200, 200, 0.376);

    .days {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        img {
            height: 2rem;
            width: 2rem;
            margin: 0 auto;
        }
        p {
            text-align: center;
        }
        .week-day {
            font-size: 0.9rem;
        }

        .week-day-temp {
            font-size: 0.7rem;
        }
    }
}