:root {
    --degrees: 70; 
}
.hourly-forecast {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: 95%;
    padding: 1rem;
    background: radial-gradient(169.33% 169.33% at -8.09% -32.56%, rgba(255, 220, 220, 0) 24.88%, rgba(3, 23, 46, 0.356) 87.1%), rgba(25, 178, 226, 0.9);
    z-index: 3;
    transition: 0.4s ease-out;
    transform: translateX(100%);
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    opacity: 0;

    &.open {
        transform: translateX(0);
        opacity: 1;
    }
    .hourly-title {
        font-size: 1.5rem;
        color: $white;
        font-family: $kanit;
        text-align: center;
        margin-bottom: 1rem;
    }
    .hourly {
        width: 90%;
        max-width: 25em;
        background: #ffffff56;
        border-radius: 1em;
        padding: 1rem;
        margin: 0 auto;
        color: $white;
        font-family: $robo;
        .overview {
            
            .day-date {
                font-weight: 600;
                margin-bottom: 0.3rem;
            }
            .hourly-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0.5rem;
                margin-bottom: 0.5rem;
            }
        }
        /* Only shown when clicked */

        .details-wrapper {
            transition: 0.3s ease-in-out;
            height:0;
            .details {
                opacity: 0;
                min-height: 0;
                max-height: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0.5rem;
                margin-bottom: 0.5rem;
                border-bottom: 1px solid $white;
                transition-delay: 0.5s;
                transition: 0.3s ease-in-out;

                .direction {
                    width: 1.5rem;
                    transform: rotate(var(--degrees));
                }

                &.open {
                    max-height: 2rem;
                    opacity: 1;
                }
            }

            &.open {
                height:370px;
            }
        }
        .more-details {
            color: $white;
            text-align: center;
        }

        &:hover {
            cursor: pointer;
        }
    }
}