.search-box {
    width: 80%;
    height: 200px; // refactor to relative
    background-color: #fff;
    margin: 0 auto;
    .search-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input, label {
            display: block;
        }
        button {

        }
    }
}