.search-box {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        max-width: 28em;
        padding: 0.5em 1em;
        margin: 0 auto;
        font-family: $robo;
        background: $box-gradient;
        border-radius: 1em;
        box-shadow: $box-shadow;
        
    .search-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        width: 80%;
       
        input {
            width: 100%;
            max-width: 22em;
            height: 2.5em;
            border-radius: 1.25em;
            border: none;
            padding-left: 1em;
            margin-bottom: 1em;
            font-size: 1rem;

        }
        button {
            width:100%;
            max-width: 20em;
            height:2.5em;
            border-radius: 1.25em;
            border: none;
            font-size: 1rem;
            font-weight: 500;
            background: $btn-gradient;
            color: $white;

            &:hover {
                cursor: pointer;
            }
        }
    }
}