.table-btn {
    padding: 0.4rem 3em;
    border-radius: 1em;
    border: none;
    box-shadow: $box-shadow;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: 0.2s ease-in-out;
    }
}